@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body {
    @apply bg-white transition duration-700
  }

  body * {
    font-family: unset;
  }
  #course-list {
    max-height: 60vh;
  }

  #content h1 {
    @apply mb-4 mt-0;
  }

  #content h2 {
    @apply mb-4 mt-5;
  }

  #content h3 {
    @apply mb-3 mt-2;
  }

  #content p {
    @apply mb-2 leading-normal;
  }

  #content {
    @apply leading-5;
  }

  .stretched-link::after {
    content: "";
    @apply z-10 absolute inset-0 bg-transparent pointer-events-auto;
  }

  /* Chrome, Edge, and Safari */
  .fancy-scrollbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    @apply rounded-full overflow-hidden;
  }

  .fancy-scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
    /* background-color: #DFE9EB; */
    @apply rounded-full dark:bg-zinc-700 bg-white;
  }

  .fancy-scrollbar::-webkit-scrollbar-track:hover {
    @apply dark:bg-zinc-800 bg-white;
  }

  .fancy-scrollbar::-webkit-scrollbar-track:active {
    @apply dark:bg-zinc-800 bg-white;
  }

  .fancy-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-full dark:bg-zinc-600 bg-zinc-300 transition-colors;
  }

  .fancy-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply dark:bg-zinc-700 bg-zinc-400;
  }

  .fancy-scrollbar::-webkit-scrollbar-thumb:active {
    @apply dark:bg-zinc-700 bg-zinc-400;
  }
}

.emoji {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: -0.125em;
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px f0f9ff inset; /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px f0f9ff inset;/*your box-shadow*/
  -webkit-text-fill-color: #333;
}